*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Fredoka One', cursive;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'PT Sans', sans-serif;
    background-color: rgb(78, 78, 78);
}
.principale{
    width: 100%;
    display: flex;
    background-color: #141922;;
    margin: 0 auto;
    height: calc(100vh - 90px);
}

h1{
    color: #fff;
}
h2{
    color: #fff;
    font-size: 15px;
}
p{
    color: rgb(194, 191, 191);
}
/******************************************
SEZIONE DI SINISTRA
*******************************************/
.sinistra{
    background-color: black;
    width: 60px;
    position: relative;
    padding: 10px 10px;
}
.img-1{
    width: 40px;
    padding: 5px 8px;
    filter: opacity(.7);
}
.logo-1{
    display: inline;
}
.logo-2{
    display: none;
}
.img-profile{
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: gray;
    margin-top: 10px;
}
.home{
    min-height: 250px;
    padding-top: 5px;
}
.utente{
    position: absolute;
    bottom: 0;
}
.svg-laterali{
    display:flex;
    align-items: center;
}
.svg-laterali p{
    display: none;
}
.playlist-1{
    display: none;
}
.downlo-span{
    display: none;
}

/******************************************
SEZIONE DI DESTRA
*******************************************/
.destra{
    width: calc(100% - 60px);
    height: calc(100vh - 90px);
    overflow: auto;
}
.upgrade{
    text-align: right;
    padding: 30px 25px;
    background-color: rgb(0 0 0 / 54%);
    position: fixed;
    width: calc(100% - 60px);
    z-index: 1;
}
.upgrade-button{
    text-decoration: none;
    font-size: 12px;
    padding: 10px 30px;
    border-radius: 20px;
    border: solid 1px;
    color: #fff;
}
ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
ul li{
    list-style: none;
    width: calc(95% /4);
    color: rgb(170, 165, 165);
    font-size: 10px;
    font-weight: 550;
    text-align: center;
}
li a{
    text-decoration: none;
    color: rgb(170, 165, 165);
}
.scritte{
    margin-top: 90px;
    padding: 0px 20px;
    line-height: 40px;
}

.playlist{
    margin-top: 55px;
    padding: 0px 20px;
}
.recently{
    display: flex;
    flex-wrap: wrap;
}
.song-list{
    width: calc(100% / 2);
    padding-top: 20px;
    text-align: center;
}
.img-2{
    width: 95%;
}
.special{
    border-radius: 50%;

}

/******************************************
FOOTER
*******************************************/

.bottom-bar{
    height: 90px;
    background-color: rgb(31, 29, 29);
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    padding: 15px 20px;
    color: #fff;
}
.bar-left{
    display: flex;
    align-items: center;
    width: 28%;
}
.img-bar{
    width: 50px;
}
.spazio{
    font-size: 12px;
    padding: 0px 16px;
}
.flexiamo{
    display:flex;
}
.bar-center{
    width: 40%;
}
.top{
    text-align: center;
}
.misura{
    font-size: 19px;
    padding-right: 28px;
}
.misura-speciale{
    font-size: 28px;
}
.bottom{
    
    display: flex;
    align-items: center;
    justify-content: center;

}
.bar{
    height: 3px;
    background-color: lightgray;
    width: 65%;
    margin: 8px;
}
.bar-2{
    height: 3px;
    background-color: lightgray;
    width: 50%;
    margin-left: 5px;
}
.bar-right{
    display: flex;
    width: 28%;
    align-items: center;
    justify-content: flex-end;
}

/******************************************
                SCREEN S
*******************************************/
@media screen and (min-width: 601px){ 
    .logo-1{
        display: none;
    }
    
    .principale{
        width: 100%;
    }
    .sinistra{
        width: 225px;
    }
    .destra{
        width: calc(100% - 225px);
        position: relative;
    }
    .upgrade{
        width: calc(100% - 225px);
    }
    .bottom-bar{
        width: 100%;
    }
    .img-1{
        width: 45px;
    }
    .logo-2{
        display: inline;
        width: 130px;
        filter: opacity(1);
    }
    .svg-laterali p{
        display: inline;
    }
    .playlist-1{
        display: inline-block;
        padding-left: 10px;
    }
    .playlist-1 p{
        padding-top: 5px;
    }
    .p-before{
        display: flex;
        align-items: center;
    }
    .p-before i{
        color: gray;
        font-size: 20px;
        padding-right: 5px;
    }

    ul li{
        width: calc(95% /3);
    }
    .downlo{
        vertical-align: middle;
    }
    .downlo-span{
        display: inline;
        vertical-align: middle;
        color: gray;
    }
    .icona-utente{
        width: 200px;
        border-top: solid 1px;
          border-top-color: currentcolor;
        border-color: white;
        padding-left: 10px;
      
    }
}

@media screen and (min-width: 701px){
    ul li {
        width: calc(95% /5);
    } 
    .song-list {
        width: calc(100% / 4);
    }
    .inline{
        display: inline;
    }
}
@media screen and (min-width: 1100px){
    ul li {
        width: calc(95% /6);
    } 
    .song-list {
        width: calc(100% / 6);
    }
    .scritte{
        padding: 0px 190px;
    }
}
